[Unit]
Description=Run audamo script every 10 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
Unit=audamo.service

[Install]
WantedBy=timers.target 
