[Unit]
Description=Automatically switch GTK theme based on sunrise and sunset

[Service]
Type=simple
ExecStart=audamo --daemon

[Install]
WantedBy=default.target
