[Unit]
Description=Automatically switch GTK theme based on sunrise and sunset

[Service]
Type=oneshot
ExecStart=auto-dark-mode

[Install]
WantedBy=default.target
